本科 以上学历 会计学 财务管理 相关 专业 毕业 左右 财务 工作 经验 掌握 财务会计 成本核算 知识 掌握 各项 工作 流程 统计 报表 有科创 公司 制造业 财务 从业 经验 尤佳 熟悉 掌握 财务 全盘 账务 处理 税务 处理 工作 熟悉 会计 电算化 熟练 运用 财务 核算 软件 excel 表格 工具 熟悉 财务 整体 工作 流程 熟悉 国家 会计 法律法规 相关 会计制度 财税 相关 法规 政策 信息 敏感性 具备 良好 学习 能力 独立 工作 能力 解决问题 能力 财务 分析 能力 风险 控制 意识 具备 财务 工作 辅助 经营 管理 意识 相关 能力 愿意 公司 共同 成长
接受 行业 工作 强度 正常 加班 状态 吃苦耐劳 随时 响应
本科 应届生 电子 电气 计算机 自动化 类似 专业 优先 接受 经常性 出差 抗压 能力 主观 能动性 解决问题 决不罢休 热爱 技术 学习 规划 执行 能力 出色 工作 内容 服务 客户 配合 客户 解决 技术 质量 问题 通过 客户 需求 产品 使用 环境 了解 作为 设计 人员 延伸 主导 产品设计 负责 市场 活动 策划 执行 产品 宣传 负责 合同 签订 发货 跟进 款项 催收 一系列 销售 常规 工作 福利待遇 六险 一金 差旅费 实报实销 提供 员工 单人 宿舍 上下班 步行 10 分钟 每年 运动 补助 员工 家属 免费 体检 带薪休假 职位 福利 五险 一金 绩效奖金 试用期 包住 餐补 节日 福利 定期 体检 通讯 补助
其他 素质 要求 责任意识 具有 一定 自我 约束 能力 爱岗敬业 具有 团队 合作 精神 适应 出差 职位 福利 五险 一金 绩效奖金 定期 体检 周末 双休 餐补 通讯 补助 定期 团建 每年 多次 调薪
三年 以上 同行业 销售 经验 具备 较强 业务 呈现 能力 良好 观察 沟通 应变能力 政府 行业软件 销售 集成 项目 经验 优先
大专 以上学历 电子 相关 专业 熟悉 ACDC DCACLDOMOS 功率 器件 产品 客户端 问题 处理 经验 善于 沟通 团队 经验 以下 领域 工作 经验 优先 从事 产品 经理 电源 产品 研发 销售者 熟悉 电机 马达 驱动 应用 电动工具 电动车 能源开发 应用 新能源 汽车 应用 客户 市场 职位 福利 周末 双休 五险 一金 绩效奖金 每年 多次 调薪 加班
本科 以上学历 03 左右 工作 经验 理工科 专业 优先 产品 经理 产品 运营 相关 工作 经验 市场 用户 调研 分析 能力 掌握 多种 调研 手段 能够 根据 不同 业务 背景 诉求 选择 不同 方法 进行 调研 能够 针对性 设计 调研 方案 包括 调研 方法 分析 逻辑 项目 落地 成功 拿到 结论 实现 模块 小组 项目组 推进 内容 方案 沉淀 能力 独立 输出 负责 产品 功能模块 产品 宣传材料 客户 赋能 材料 深刻 了解 目标 对象 不同 阶段 问题 诉求 基本 可以 体系化 提炼 内容 建设 方案 具有 针对性 建设 全方位 内容 面向 客户 进行 整体 解决方案 经验 同学 优先 运营 推广 能力 根据 产品 阶段 不同 结合 目标 客户 产品 特质 公司 品牌 主导 推广 活动 策划 运营 策略 确定 推动 协调 相关 工作 执行 落地 达成 预期 目标 具备 一定 操盘 能力 运作 相对 复杂 产品 发布 推广 取得成功 持续 学习 对于 市场 知识 销售 知识 行业 知识 产品 知识 需要 不断 完成 自我 刷新 自驱力 良好 沟通 协作 具备 较强 逻辑 性能 抓住 关键问题 敢于 决策 抗压 迎难而上 面对 不确定性 时能 持续 沉下 心来 做事 积极向上 接受 一定 程度 出差
三年 以上 产品 硬件 相关 工作 经验 985 211 正规 院校 毕业 硕士 优先 具有 独立 逻辑 思考 能力 良好 学习 能力 以及 跨部门 沟通交流 能力 一定 技术 背景 音视频 相关 技术 深入 了解 产品 管理 客户 沟通 能力 有效 利用 资源 达成 目标 情商 高有 良好 沟通 能力 问题 解决 能力 有效 完成 领导 交办 工作 做事 认真仔细 负责 软件 测试 方向
本科 以上学历 会计学 财务管理 相关 专业 毕业 左右 财务 工作 经验 掌握 财务会计 成本核算 知识 掌握 各项 工作 流程 统计 报表 有科创 公司 制造业 财务 从业 经验 尤佳 熟悉 掌握 财务 全盘 账务 处理 税务 处理 工作 熟悉 会计 电算化 熟练 运用 财务 核算 软件 excel 表格 工具 熟悉 财务 整体 工作 流程 熟悉 国家 会计 法律法规 相关 会计制度 财税 相关 法规 政策 信息 敏感性 具备 良好 学习 能力 独立 工作 能力 解决问题 能力 财务 分析 能力 风险 控制 意识 具备 财务 工作 辅助 经营 管理 意识 相关 能力 愿意 公司 共同 成长
接受 行业 工作 强度 正常 加班 状态 吃苦耐劳 随时 响应
本科 应届生 电子 电气 计算机 自动化 类似 专业 优先 接受 经常性 出差 抗压 能力 主观 能动性 解决问题 决不罢休 热爱 技术 学习 规划 执行 能力 出色 工作 内容 服务 客户 配合 客户 解决 技术 质量 问题 通过 客户 需求 产品 使用 环境 了解 作为 设计 人员 延伸 主导 产品设计 负责 市场 活动 策划 执行 产品 宣传 负责 合同 签订 发货 跟进 款项 催收 一系列 销售 常规 工作 福利待遇 六险 一金 差旅费 实报实销 提供 员工 单人 宿舍 上下班 步行 10 分钟 每年 运动 补助 员工 家属 免费 体检 带薪休假 职位 福利 五险 一金 绩效奖金 试用期 包住 餐补 节日 福利 定期 体检 通讯 补助
其他 素质 要求 责任意识 具有 一定 自我 约束 能力 爱岗敬业 具有 团队 合作 精神 适应 出差 职位 福利 五险 一金 绩效奖金 定期 体检 周末 双休 餐补 通讯 补助 定期 团建 每年 多次 调薪
三年 以上 同行业 销售 经验 具备 较强 业务 呈现 能力 良好 观察 沟通 应变能力 政府 行业软件 销售 集成 项目 经验 优先
大专 以上学历 电子 相关 专业 熟悉 ACDC DCACLDOMOS 功率 器件 产品 客户端 问题 处理 经验 善于 沟通 团队 经验 以下 领域 工作 经验 优先 从事 产品 经理 电源 产品 研发 销售者 熟悉 电机 马达 驱动 应用 电动工具 电动车 能源开发 应用 新能源 汽车 应用 客户 市场 职位 福利 周末 双休 五险 一金 绩效奖金 每年 多次 调薪 加班
本科 以上学历 03 左右 工作 经验 理工科 专业 优先 产品 经理 产品 运营 相关 工作 经验 市场 用户 调研 分析 能力 掌握 多种 调研 手段 能够 根据 不同 业务 背景 诉求 选择 不同 方法 进行 调研 能够 针对性 设计 调研 方案 包括 调研 方法 分析 逻辑 项目 落地 成功 拿到 结论 实现 模块 小组 项目组 推进 内容 方案 沉淀 能力 独立 输出 负责 产品 功能模块 产品 宣传材料 客户 赋能 材料 深刻 了解 目标 对象 不同 阶段 问题 诉求 基本 可以 体系化 提炼 内容 建设 方案 具有 针对性 建设 全方位 内容 面向 客户 进行 整体 解决方案 经验 同学 优先 运营 推广 能力 根据 产品 阶段 不同 结合 目标 客户 产品 特质 公司 品牌 主导 推广 活动 策划 运营 策略 确定 推动 协调 相关 工作 执行 落地 达成 预期 目标 具备 一定 操盘 能力 运作 相对 复杂 产品 发布 推广 取得成功 持续 学习 对于 市场 知识 销售 知识 行业 知识 产品 知识 需要 不断 完成 自我 刷新 自驱力 良好 沟通 协作 具备 较强 逻辑 性能 抓住 关键问题 敢于 决策 抗压 迎难而上 面对 不确定性 时能 持续 沉下 心来 做事 积极向上 接受 一定 程度 出差
三年 以上 产品 硬件 相关 工作 经验 985 211 正规 院校 毕业 硕士 优先 具有 独立 逻辑 思考 能力 良好 学习 能力 以及 跨部门 沟通交流 能力 一定 技术 背景 音视频 相关 技术 深入 了解 产品 管理 客户 沟通 能力 有效 利用 资源 达成 目标 情商 高有 良好 沟通 能力 问题 解决 能力 有效 完成 领导 交办 工作 做事 认真仔细 负责 软件 测试 方向
本科 以上学历 会计学 财务管理 相关 专业 毕业 左右 财务 工作 经验 掌握 财务会计 成本核算 知识 掌握 各项 工作 流程 统计 报表 有科创 公司 制造业 财务 从业 经验 尤佳 熟悉 掌握 财务 全盘 账务 处理 税务 处理 工作 熟悉 会计 电算化 熟练 运用 财务 核算 软件 excel 表格 工具 熟悉 财务 整体 工作 流程 熟悉 国家 会计 法律法规 相关 会计制度 财税 相关 法规 政策 信息 敏感性 具备 良好 学习 能力 独立 工作 能力 解决问题 能力 财务 分析 能力 风险 控制 意识 具备 财务 工作 辅助 经营 管理 意识 相关 能力 愿意 公司 共同 成长
接受 行业 工作 强度 正常 加班 状态 吃苦耐劳 随时 响应
本科 应届生 电子 电气 计算机 自动化 类似 专业 优先 接受 经常性 出差 抗压 能力 主观 能动性 解决问题 决不罢休 热爱 技术 学习 规划 执行 能力 出色 工作 内容 服务 客户 配合 客户 解决 技术 质量 问题 通过 客户 需求 产品 使用 环境 了解 作为 设计 人员 延伸 主导 产品设计 负责 市场 活动 策划 执行 产品 宣传 负责 合同 签订 发货 跟进 款项 催收 一系列 销售 常规 工作 福利待遇 六险 一金 差旅费 实报实销 提供 员工 单人 宿舍 上下班 步行 10 分钟 每年 运动 补助 员工 家属 免费 体检 带薪休假 职位 福利 五险 一金 绩效奖金 试用期 包住 餐补 节日 福利 定期 体检 通讯 补助
其他 素质 要求 责任意识 具有 一定 自我 约束 能力 爱岗敬业 具有 团队 合作 精神 适应 出差 职位 福利 五险 一金 绩效奖金 定期 体检 周末 双休 餐补 通讯 补助 定期 团建 每年 多次 调薪
三年 以上 同行业 销售 经验 具备 较强 业务 呈现 能力 良好 观察 沟通 应变能力 政府 行业软件 销售 集成 项目 经验 优先
大专 以上学历 电子 相关 专业 熟悉 ACDC DCACLDOMOS 功率 器件 产品 客户端 问题 处理 经验 善于 沟通 团队 经验 以下 领域 工作 经验 优先 从事 产品 经理 电源 产品 研发 销售者 熟悉 电机 马达 驱动 应用 电动工具 电动车 能源开发 应用 新能源 汽车 应用 客户 市场 职位 福利 周末 双休 五险 一金 绩效奖金 每年 多次 调薪 加班
本科 以上学历 会计学 财务管理 相关 专业 毕业 左右 财务 工作 经验 掌握 财务会计 成本核算 知识 掌握 各项 工作 流程 统计 报表 有科创 公司 制造业 财务 从业 经验 尤佳 熟悉 掌握 财务 全盘 账务 处理 税务 处理 工作 熟悉 会计 电算化 熟练 运用 财务 核算 软件 excel 表格 工具 熟悉 财务 整体 工作 流程 熟悉 国家 会计 法律法规 相关 会计制度 财税 相关 法规 政策 信息 敏感性 具备 良好 学习 能力 独立 工作 能力 解决问题 能力 财务 分析 能力 风险 控制 意识 具备 财务 工作 辅助 经营 管理 意识 相关 能力 愿意 公司 共同 成长
接受 行业 工作 强度 正常 加班 状态 吃苦耐劳 随时 响应
本科 应届生 电子 电气 计算机 自动化 类似 专业 优先 接受 经常性 出差 抗压 能力 主观 能动性 解决问题 决不罢休 热爱 技术 学习 规划 执行 能力 出色 工作 内容 服务 客户 配合 客户 解决 技术 质量 问题 通过 客户 需求 产品 使用 环境 了解 作为 设计 人员 延伸 主导 产品设计 负责 市场 活动 策划 执行 产品 宣传 负责 合同 签订 发货 跟进 款项 催收 一系列 销售 常规 工作 福利待遇 六险 一金 差旅费 实报实销 提供 员工 单人 宿舍 上下班 步行 10 分钟 每年 运动 补助 员工 家属 免费 体检 带薪休假 职位 福利 五险 一金 绩效奖金 试用期 包住 餐补 节日 福利 定期 体检 通讯 补助
其他 素质 要求 责任意识 具有 一定 自我 约束 能力 爱岗敬业 具有 团队 合作 精神 适应 出差 职位 福利 五险 一金 绩效奖金 定期 体检 周末 双休 餐补 通讯 补助 定期 团建 每年 多次 调薪
三年 以上 同行业 销售 经验 具备 较强 业务 呈现 能力 良好 观察 沟通 应变能力 政府 行业软件 销售 集成 项目 经验 优先
大专 以上学历 电子 相关 专业 熟悉 ACDC DCACLDOMOS 功率 器件 产品 客户端 问题 处理 经验 善于 沟通 团队 经验 以下 领域 工作 经验 优先 从事 产品 经理 电源 产品 研发 销售者 熟悉 电机 马达 驱动 应用 电动工具 电动车 能源开发 应用 新能源 汽车 应用 客户 市场 职位 福利 周末 双休 五险 一金 绩效奖金 每年 多次 调薪 加班
本科 以上学历 2310 以上 相关 工作 经验 熟练 使用 AxureExcelWordXmindMindManager 软件 逻辑 清晰 思维 严谨 产品 自己 独到 认识 见解 偏执 偏离 公司 理念 良好 沟通 能力 善于 推动 事情 发展 抗压 能力 强有 强烈 责任心 团队 合作 精神 工作 细致 认真 热情 积极主动 工作效率 责任心 具有 团队精神 保密 服务 意识
与现 工作 单位 或原 工作 单位 存在 人事关系 劳动 关系 纠纷 人事档案 手续 完备 适应 岗位 身体 条件 履行 岗位职责 具备 其它 条件 岗位职责 负责 公司 交通 数据 产品 规划 设计 工作 ToB 面向 行业 负责 组织 面向 行业 内及 跨行业 系列 数据服务 产品 开发 负责 公司 数字 资产 构建 及全 生命周期 运营 规划 工作 构建 数据分析 平台 负责 需求 调研 分析 组织 研发 团队 参与 评估 项目 可行性 输出 解决方案 关注 数据 应用领域 前沿技术 持续 推动 数据 应用 能力 提升 不断 提高 业务 数字化 水平 任职 资格 硕士 以上学历 通信 计算机 数据 相关 专业 具备 三年 以上 数据 产品 经理 工作 经验 数据 开发 经验 具有 完备 数据 资产 相关 理论 基础 实践经验 具有 出色 数据 应用 场景 规划 执行 能力 具备 数据 产品 方案 策划 落地 实现 能力 具有 优秀 学习 能力 沟通 能力 逻辑思维 能力 思维 敏捷 具备 一定 文案 编写 能力 年龄 超过 35
本科 以上学历 会计学 财务管理 相关 专业 毕业 左右 财务 工作 经验 掌握 财务会计 成本核算 知识 掌握 各项 工作 流程 统计 报表 有科创 公司 制造业 财务 从业 经验 尤佳 熟悉 掌握 财务 全盘 账务 处理 税务 处理 工作 熟悉 会计 电算化 熟练 运用 财务 核算 软件 excel 表格 工具 熟悉 财务 整体 工作 流程 熟悉 国家 会计 法律法规 相关 会计制度 财税 相关 法规 政策 信息 敏感性 具备 良好 学习 能力 独立 工作 能力 解决问题 能力 财务 分析 能力 风险 控制 意识 具备 财务 工作 辅助 经营 管理 意识 相关 能力 愿意 公司 共同 成长
接受 行业 工作 强度 正常 加班 状态 吃苦耐劳 随时 响应
本科 应届生 电子 电气 计算机 自动化 类似 专业 优先 接受 经常性 出差 抗压 能力 主观 能动性 解决问题 决不罢休 热爱 技术 学习 规划 执行 能力 出色 工作 内容 服务 客户 配合 客户 解决 技术 质量 问题 通过 客户 需求 产品 使用 环境 了解 作为 设计 人员 延伸 主导 产品设计 负责 市场 活动 策划 执行 产品 宣传 负责 合同 签订 发货 跟进 款项 催收 一系列 销售 常规 工作 福利待遇 六险 一金 差旅费 实报实销 提供 员工 单人 宿舍 上下班 步行 10 分钟 每年 运动 补助 员工 家属 免费 体检 带薪休假 职位 福利 五险 一金 绩效奖金 试用期 包住 餐补 节日 福利 定期 体检 通讯 补助
其他 素质 要求 责任意识 具有 一定 自我 约束 能力 爱岗敬业 具有 团队 合作 精神 适应 出差 职位 福利 五险 一金 绩效奖金 定期 体检 周末 双休 餐补 通讯 补助 定期 团建 每年 多次 调薪
三年 以上 同行业 销售 经验 具备 较强 业务 呈现 能力 良好 观察 沟通 应变能力 政府 行业软件 销售 集成 项目 经验 优先
大专 以上学历 电子 相关 专业 熟悉 ACDC DCACLDOMOS 功率 器件 产品 客户端 问题 处理 经验 善于 沟通 团队 经验 以下 领域 工作 经验 优先 从事 产品 经理 电源 产品 研发 销售者 熟悉 电机 马达 驱动 应用 电动工具 电动车 能源开发 应用 新能源 汽车 应用 客户 市场 职位 福利 周末 双休 五险 一金 绩效奖金 每年 多次 调薪 加班
大专 以上学历 计算机相关 专业 具备 两年 以上 软件 项目管理 经验 具备 软件 研发 能力 有运维 项目 工作 经历 优先 需求 管理 计划 管理 风险管理 独到见解 编写 项目 技术 方案 需求 沟通 能力 工作 积极主动 团队 意识 具有 较强 事业心 责任心 抗压 能力 接受 短期 出差 出差 补助 职位 福利 五险 一金 交通 补助 餐补 带薪 节日 福利 定期 体检 周末 双休
具备 一线 销售 经历 具备 以上 销售 管理 经验 产品 经理 工作 经验 总代 工作 经验 优先 负责 产品线 智慧 安全类 产品线 安全 产品销售 经历 优先 具体 电话 详聊 工作 地点 北京
熟悉 市场 部分 岗位 还会 要求 应聘者 熟悉 销售市场 具有 产品 推广 工作 经验 以及 良好 策略 规划 能力 行业 敏感度 数据分析 能力 具备 优秀 数据 统计分析 呈现 能力 能够 运用 数据 进行 分析 决策 沟通 能力 具有 较强 沟通 能力 全局 能够 根据 公司 要求 开发 相应 产品 协调 各方 资源 推动 产品 上市
本科 以上学历 会计学 财务管理 相关 专业 毕业 左右 财务 工作 经验 掌握 财务会计 成本核算 知识 掌握 各项 工作 流程 统计 报表 有科创 公司 制造业 财务 从业 经验 尤佳 熟悉 掌握 财务 全盘 账务 处理 税务 处理 工作 熟悉 会计 电算化 熟练 运用 财务 核算 软件 excel 表格 工具 熟悉 财务 整体 工作 流程 熟悉 国家 会计 法律法规 相关 会计制度 财税 相关 法规 政策 信息 敏感性 具备 良好 学习 能力 独立 工作 能力 解决问题 能力 财务 分析 能力 风险 控制 意识 具备 财务 工作 辅助 经营 管理 意识 相关 能力 愿意 公司 共同 成长
接受 行业 工作 强度 正常 加班 状态 吃苦耐劳 随时 响应
本科 应届生 电子 电气 计算机 自动化 类似 专业 优先 接受 经常性 出差 抗压 能力 主观 能动性 解决问题 决不罢休 热爱 技术 学习 规划 执行 能力 出色 工作 内容 服务 客户 配合 客户 解决 技术 质量 问题 通过 客户 需求 产品 使用 环境 了解 作为 设计 人员 延伸 主导 产品设计 负责 市场 活动 策划 执行 产品 宣传 负责 合同 签订 发货 跟进 款项 催收 一系列 销售 常规 工作 福利待遇 六险 一金 差旅费 实报实销 提供 员工 单人 宿舍 上下班 步行 10 分钟 每年 运动 补助 员工 家属 免费 体检 带薪休假 职位 福利 五险 一金 绩效奖金 试用期 包住 餐补 节日 福利 定期 体检 通讯 补助
其他 素质 要求 责任意识 具有 一定 自我 约束 能力 爱岗敬业 具有 团队 合作 精神 适应 出差 职位 福利 五险 一金 绩效奖金 定期 体检 周末 双休 餐补 通讯 补助 定期 团建 每年 多次 调薪
三年 以上 同行业 销售 经验 具备 较强 业务 呈现 能力 良好 观察 沟通 应变能力 政府 行业软件 销售 集成 项目 经验 优先
大专 以上学历 电子 相关 专业 熟悉 ACDC DCACLDOMOS 功率 器件 产品 客户端 问题 处理 经验 善于 沟通 团队 经验 以下 领域 工作 经验 优先 从事 产品 经理 电源 产品 研发 销售者 熟悉 电机 马达 驱动 应用 电动工具 电动车 能源开发 应用 新能源 汽车 应用 客户 市场 职位 福利 周末 双休 五险 一金 绩效奖金 每年 多次 调薪 加班
本科 以上学历 研究生 在读 优先 计算机 电子商务 专业 优先 能够 至少 实习 以上者 优先 熟悉 产品 运作 方式 一定 互联网 产品 工作 了解 熟悉 AxureRP 产品设计 工具 短时间 熟练 使用 学习 能力 具备 良好 表达能力 逻辑 能力 态度 积极主动 责任心 具备 较强 统筹 协调 能力 沟通 能力 能够 协调 产品 工作 任务 执行
本科 以上学历 03 左右 工作 经验 理工科 专业 优先 产品 经理 产品 运营 相关 工作 经验 市场 用户 调研 分析 能力 掌握 多种 调研 手段 能够 根据 不同 业务 背景 诉求 选择 不同 方法 进行 调研 能够 针对性 设计 调研 方案 包括 调研 方法 分析 逻辑 项目 落地 成功 拿到 结论 实现 模块 小组 项目组 推进 内容 方案 沉淀 能力 独立 输出 负责 产品 功能模块 产品 宣传材料 客户 赋能 材料 深刻 了解 目标 对象 不同 阶段 问题 诉求 基本 可以 体系化 提炼 内容 建设 方案 具有 针对性 建设 全方位 内容 面向 客户 进行 整体 解决方案 经验 同学 优先 运营 推广 能力 根据 产品 阶段 不同 结合 目标 客户 产品 特质 公司 品牌 主导 推广 活动 策划 运营 策略 确定 推动 协调 相关 工作 执行 落地 达成 预期 目标 具备 一定 操盘 能力 运作 相对 复杂 产品 发布 推广 取得成功 持续 学习 对于 市场 知识 销售 知识 行业 知识 产品 知识 需要 不断 完成 自我 刷新 自驱力 良好 沟通 协作 具备 较强 逻辑 性能 抓住 关键问题 敢于 决策 抗压 迎难而上 面对 不确定性 时能 持续 沉下 心来 做事 积极向上 接受 一定 程度 出差
本科 以上学历 会计学 财务管理 相关 专业 毕业 左右 财务 工作 经验 掌握 财务会计 成本核算 知识 掌握 各项 工作 流程 统计 报表 有科创 公司 制造业 财务 从业 经验 尤佳 熟悉 掌握 财务 全盘 账务 处理 税务 处理 工作 熟悉 会计 电算化 熟练 运用 财务 核算 软件 excel 表格 工具 熟悉 财务 整体 工作 流程 熟悉 国家 会计 法律法规 相关 会计制度 财税 相关 法规 政策 信息 敏感性 具备 良好 学习 能力 独立 工作 能力 解决问题 能力 财务 分析 能力 风险 控制 意识 具备 财务 工作 辅助 经营 管理 意识 相关 能力 愿意 公司 共同 成长
接受 行业 工作 强度 正常 加班 状态 吃苦耐劳 随时 响应
本科 应届生 电子 电气 计算机 自动化 类似 专业 优先 接受 经常性 出差 抗压 能力 主观 能动性 解决问题 决不罢休 热爱 技术 学习 规划 执行 能力 出色 工作 内容 服务 客户 配合 客户 解决 技术 质量 问题 通过 客户 需求 产品 使用 环境 了解 作为 设计 人员 延伸 主导 产品设计 负责 市场 活动 策划 执行 产品 宣传 负责 合同 签订 发货 跟进 款项 催收 一系列 销售 常规 工作 福利待遇 六险 一金 差旅费 实报实销 提供 员工 单人 宿舍 上下班 步行 10 分钟 每年 运动 补助 员工 家属 免费 体检 带薪休假 职位 福利 五险 一金 绩效奖金 试用期 包住 餐补 节日 福利 定期 体检 通讯 补助
其他 素质 要求 责任意识 具有 一定 自我 约束 能力 爱岗敬业 具有 团队 合作 精神 适应 出差 职位 福利 五险 一金 绩效奖金 定期 体检 周末 双休 餐补 通讯 补助 定期 团建 每年 多次 调薪
三年 以上 同行业 销售 经验 具备 较强 业务 呈现 能力 良好 观察 沟通 应变能力 政府 行业软件 销售 集成 项目 经验 优先
大专 以上学历 电子 相关 专业 熟悉 ACDC DCACLDOMOS 功率 器件 产品 客户端 问题 处理 经验 善于 沟通 团队 经验 以下 领域 工作 经验 优先 从事 产品 经理 电源 产品 研发 销售者 熟悉 电机 马达 驱动 应用 电动工具 电动车 能源开发 应用 新能源 汽车 应用 客户 市场 职位 福利 周末 双休 五险 一金 绩效奖金 每年 多次 调薪 加班
本科 以上学历 03 左右 工作 经验 理工科 专业 优先 产品 经理 产品 运营 相关 工作 经验 市场 用户 调研 分析 能力 掌握 多种 调研 手段 能够 根据 不同 业务 背景 诉求 选择 不同 方法 进行 调研 能够 针对性 设计 调研 方案 包括 调研 方法 分析 逻辑 项目 落地 成功 拿到 结论 实现 模块 小组 项目组 推进 内容 方案 沉淀 能力 独立 输出 负责 产品 功能模块 产品 宣传材料 客户 赋能 材料 深刻 了解 目标 对象 不同 阶段 问题 诉求 基本 可以 体系化 提炼 内容 建设 方案 具有 针对性 建设 全方位 内容 面向 客户 进行 整体 解决方案 经验 同学 优先 运营 推广 能力 根据 产品 阶段 不同 结合 目标 客户 产品 特质 公司 品牌 主导 推广 活动 策划 运营 策略 确定 推动 协调 相关 工作 执行 落地 达成 预期 目标 具备 一定 操盘 能力 运作 相对 复杂 产品 发布 推广 取得成功 持续 学习 对于 市场 知识 销售 知识 行业 知识 产品 知识 需要 不断 完成 自我 刷新 自驱力 良好 沟通 协作 具备 较强 逻辑 性能 抓住 关键问题 敢于 决策 抗压 迎难而上 面对 不确定性 时能 持续 沉下 心来 做事 积极向上 接受 一定 程度 出差
三年 以上 产品 硬件 相关 工作 经验 985 211 正规 院校 毕业 硕士 优先 具有 独立 逻辑 思考 能力 良好 学习 能力 以及 跨部门 沟通交流 能力 一定 技术 背景 音视频 相关 技术 深入 了解 产品 管理 客户 沟通 能力 有效 利用 资源 达成 目标 情商 高有 良好 沟通 能力 问题 解决 能力 有效 完成 领导 交办 工作 做事 认真仔细 负责 软件 测试 方向
本科 以上学历 会计学 财务管理 相关 专业 毕业 左右 财务 工作 经验 掌握 财务会计 成本核算 知识 掌握 各项 工作 流程 统计 报表 有科创 公司 制造业 财务 从业 经验 尤佳 熟悉 掌握 财务 全盘 账务 处理 税务 处理 工作 熟悉 会计 电算化 熟练 运用 财务 核算 软件 excel 表格 工具 熟悉 财务 整体 工作 流程 熟悉 国家 会计 法律法规 相关 会计制度 财税 相关 法规 政策 信息 敏感性 具备 良好 学习 能力 独立 工作 能力 解决问题 能力 财务 分析 能力 风险 控制 意识 具备 财务 工作 辅助 经营 管理 意识 相关 能力 愿意 公司 共同 成长
接受 行业 工作 强度 正常 加班 状态 吃苦耐劳 随时 响应
本科 应届生 电子 电气 计算机 自动化 类似 专业 优先 接受 经常性 出差 抗压 能力 主观 能动性 解决问题 决不罢休 热爱 技术 学习 规划 执行 能力 出色 工作 内容 服务 客户 配合 客户 解决 技术 质量 问题 通过 客户 需求 产品 使用 环境 了解 作为 设计 人员 延伸 主导 产品设计 负责 市场 活动 策划 执行 产品 宣传 负责 合同 签订 发货 跟进 款项 催收 一系列 销售 常规 工作 福利待遇 六险 一金 差旅费 实报实销 提供 员工 单人 宿舍 上下班 步行 10 分钟 每年 运动 补助 员工 家属 免费 体检 带薪休假 职位 福利 五险 一金 绩效奖金 试用期 包住 餐补 节日 福利 定期 体检 通讯 补助
其他 素质 要求 责任意识 具有 一定 自我 约束 能力 爱岗敬业 具有 团队 合作 精神 适应 出差 职位 福利 五险 一金 绩效奖金 定期 体检 周末 双休 餐补 通讯 补助 定期 团建 每年 多次 调薪
三年 以上 同行业 销售 经验 具备 较强 业务 呈现 能力 良好 观察 沟通 应变能力 政府 行业软件 销售 集成 项目 经验 优先
大专 以上学历 电子 相关 专业 熟悉 ACDC DCACLDOMOS 功率 器件 产品 客户端 问题 处理 经验 善于 沟通 团队 经验 以下 领域 工作 经验 优先 从事 产品 经理 电源 产品 研发 销售者 熟悉 电机 马达 驱动 应用 电动工具 电动车 能源开发 应用 新能源 汽车 应用 客户 市场 职位 福利 周末 双休 五险 一金 绩效奖金 每年 多次 调薪 加班
本科 以上学历 03 左右 工作 经验 理工科 专业 优先 产品 经理 产品 运营 相关 工作 经验 市场 用户 调研 分析 能力 掌握 多种 调研 手段 能够 根据 不同 业务 背景 诉求 选择 不同 方法 进行 调研 能够 针对性 设计 调研 方案 包括 调研 方法 分析 逻辑 项目 落地 成功 拿到 结论 实现 模块 小组 项目组 推进 内容 方案 沉淀 能力 独立 输出 负责 产品 功能模块 产品 宣传材料 客户 赋能 材料 深刻 了解 目标 对象 不同 阶段 问题 诉求 基本 可以 体系化 提炼 内容 建设 方案 具有 针对性 建设 全方位 内容 面向 客户 进行 整体 解决方案 经验 同学 优先 运营 推广 能力 根据 产品 阶段 不同 结合 目标 客户 产品 特质 公司 品牌 主导 推广 活动 策划 运营 策略 确定 推动 协调 相关 工作 执行 落地 达成 预期 目标 具备 一定 操盘 能力 运作 相对 复杂 产品 发布 推广 取得成功 持续 学习 对于 市场 知识 销售 知识 行业 知识 产品 知识 需要 不断 完成 自我 刷新 自驱力 良好 沟通 协作 具备 较强 逻辑 性能 抓住 关键问题 敢于 决策 抗压 迎难而上 面对 不确定性 时能 持续 沉下 心来 做事 积极向上 接受 一定 程度 出差
三年 以上 产品 硬件 相关 工作 经验 985 211 正规 院校 毕业 硕士 优先 具有 独立 逻辑 思考 能力 良好 学习 能力 以及 跨部门 沟通交流 能力 一定 技术 背景 音视频 相关 技术 深入 了解 产品 管理 客户 沟通 能力 有效 利用 资源 达成 目标 情商 高有 良好 沟通 能力 问题 解决 能力 有效 完成 领导 交办 工作 做事 认真仔细 负责 软件 测试 方向
本科 以上学历 会计学 财务管理 相关 专业 毕业 左右 财务 工作 经验 掌握 财务会计 成本核算 知识 掌握 各项 工作 流程 统计 报表 有科创 公司 制造业 财务 从业 经验 尤佳 熟悉 掌握 财务 全盘 账务 处理 税务 处理 工作 熟悉 会计 电算化 熟练 运用 财务 核算 软件 excel 表格 工具 熟悉 财务 整体 工作 流程 熟悉 国家 会计 法律法规 相关 会计制度 财税 相关 法规 政策 信息 敏感性 具备 良好 学习 能力 独立 工作 能力 解决问题 能力 财务 分析 能力 风险 控制 意识 具备 财务 工作 辅助 经营 管理 意识 相关 能力 愿意 公司 共同 成长
接受 行业 工作 强度 正常 加班 状态 吃苦耐劳 随时 响应
本科 应届生 电子 电气 计算机 自动化 类似 专业 优先 接受 经常性 出差 抗压 能力 主观 能动性 解决问题 决不罢休 热爱 技术 学习 规划 执行 能力 出色 工作 内容 服务 客户 配合 客户 解决 技术 质量 问题 通过 客户 需求 产品 使用 环境 了解 作为 设计 人员 延伸 主导 产品设计 负责 市场 活动 策划 执行 产品 宣传 负责 合同 签订 发货 跟进 款项 催收 一系列 销售 常规 工作 福利待遇 六险 一金 差旅费 实报实销 提供 员工 单人 宿舍 上下班 步行 10 分钟 每年 运动 补助 员工 家属 免费 体检 带薪休假 职位 福利 五险 一金 绩效奖金 试用期 包住 餐补 节日 福利 定期 体检 通讯 补助
其他 素质 要求 责任意识 具有 一定 自我 约束 能力 爱岗敬业 具有 团队 合作 精神 适应 出差 职位 福利 五险 一金 绩效奖金 定期 体检 周末 双休 餐补 通讯 补助 定期 团建 每年 多次 调薪
三年 以上 同行业 销售 经验 具备 较强 业务 呈现 能力 良好 观察 沟通 应变能力 政府 行业软件 销售 集成 项目 经验 优先
大专 以上学历 电子 相关 专业 熟悉 ACDC DCACLDOMOS 功率 器件 产品 客户端 问题 处理 经验 善于 沟通 团队 经验 以下 领域 工作 经验 优先 从事 产品 经理 电源 产品 研发 销售者 熟悉 电机 马达 驱动 应用 电动工具 电动车 能源开发 应用 新能源 汽车 应用 客户 市场 职位 福利 周末 双休 五险 一金 绩效奖金 每年 多次 调薪 加班
本科 以上学历 会计学 财务管理 相关 专业 毕业 左右 财务 工作 经验 掌握 财务会计 成本核算 知识 掌握 各项 工作 流程 统计 报表 有科创 公司 制造业 财务 从业 经验 尤佳 熟悉 掌握 财务 全盘 账务 处理 税务 处理 工作 熟悉 会计 电算化 熟练 运用 财务 核算 软件 excel 表格 工具 熟悉 财务 整体 工作 流程 熟悉 国家 会计 法律法规 相关 会计制度 财税 相关 法规 政策 信息 敏感性 具备 良好 学习 能力 独立 工作 能力 解决问题 能力 财务 分析 能力 风险 控制 意识 具备 财务 工作 辅助 经营 管理 意识 相关 能力 愿意 公司 共同 成长
接受 行业 工作 强度 正常 加班 状态 吃苦耐劳 随时 响应
本科 应届生 电子 电气 计算机 自动化 类似 专业 优先 接受 经常性 出差 抗压 能力 主观 能动性 解决问题 决不罢休 热爱 技术 学习 规划 执行 能力 出色 工作 内容 服务 客户 配合 客户 解决 技术 质量 问题 通过 客户 需求 产品 使用 环境 了解 作为 设计 人员 延伸 主导 产品设计 负责 市场 活动 策划 执行 产品 宣传 负责 合同 签订 发货 跟进 款项 催收 一系列 销售 常规 工作 福利待遇 六险 一金 差旅费 实报实销 提供 员工 单人 宿舍 上下班 步行 10 分钟 每年 运动 补助 员工 家属 免费 体检 带薪休假 职位 福利 五险 一金 绩效奖金 试用期 包住 餐补 节日 福利 定期 体检 通讯 补助
其他 素质 要求 责任意识 具有 一定 自我 约束 能力 爱岗敬业 具有 团队 合作 精神 适应 出差 职位 福利 五险 一金 绩效奖金 定期 体检 周末 双休 餐补 通讯 补助 定期 团建 每年 多次 调薪
三年 以上 同行业 销售 经验 具备 较强 业务 呈现 能力 良好 观察 沟通 应变能力 政府 行业软件 销售 集成 项目 经验 优先
大专 以上学历 电子 相关 专业 熟悉 ACDC DCACLDOMOS 功率 器件 产品 客户端 问题 处理 经验 善于 沟通 团队 经验 以下 领域 工作 经验 优先 从事 产品 经理 电源 产品 研发 销售者 熟悉 电机 马达 驱动 应用 电动工具 电动车 能源开发 应用 新能源 汽车 应用 客户 市场 职位 福利 周末 双休 五险 一金 绩效奖金 每年 多次 调薪 加班
硕士 研究生 以上学历 计算机 电子 工程 管理学 心理学 相关 专业 优先 具有 13 互联网 教育 产品 数字 出版 产品 产品 经理 工作 经验 服务 国内 数字 出版 行业 大学 出版社 数字 出版部门 经验 执行 能力 工作 主动性 沟通 能力 责任心 具有 较强 学习 能力 熟练 使用 Office 办公 软件 思维 导图 原型 设计图 软件 年龄 35 以下 身体健康 工作 地点 北京
至少 产品 经理 经验 内容 创作 工具 视频 配音 编辑 相关 经验 优先 具备 面向 端的 AI 产品开发 经验 熟悉 AIGC 技术 及其 内容 创作 领域 应用 出色 项目管理 团队 领导 能力 能够 快节奏 环境 推动 项目 前进 强烈 用户 导向 思维 能够 理解 预测 用户 需求 优秀 沟通 协调 能力 能够 跨部门 团队 有效 工作 具备 数据分析 技能 能够 利用 数据 驱动 产品 决策
本科 以上学历 会计学 财务管理 相关 专业 毕业 左右 财务 工作 经验 掌握 财务会计 成本核算 知识 掌握 各项 工作 流程 统计 报表 有科创 公司 制造业 财务 从业 经验 尤佳 熟悉 掌握 财务 全盘 账务 处理 税务 处理 工作 熟悉 会计 电算化 熟练 运用 财务 核算 软件 excel 表格 工具 熟悉 财务 整体 工作 流程 熟悉 国家 会计 法律法规 相关 会计制度 财税 相关 法规 政策 信息 敏感性 具备 良好 学习 能力 独立 工作 能力 解决问题 能力 财务 分析 能力 风险 控制 意识 具备 财务 工作 辅助 经营 管理 意识 相关 能力 愿意 公司 共同 成长
接受 行业 工作 强度 正常 加班 状态 吃苦耐劳 随时 响应
本科 应届生 电子 电气 计算机 自动化 类似 专业 优先 接受 经常性 出差 抗压 能力 主观 能动性 解决问题 决不罢休 热爱 技术 学习 规划 执行 能力 出色 工作 内容 服务 客户 配合 客户 解决 技术 质量 问题 通过 客户 需求 产品 使用 环境 了解 作为 设计 人员 延伸 主导 产品设计 负责 市场 活动 策划 执行 产品 宣传 负责 合同 签订 发货 跟进 款项 催收 一系列 销售 常规 工作 福利待遇 六险 一金 差旅费 实报实销 提供 员工 单人 宿舍 上下班 步行 10 分钟 每年 运动 补助 员工 家属 免费 体检 带薪休假 职位 福利 五险 一金 绩效奖金 试用期 包住 餐补 节日 福利 定期 体检 通讯 补助
其他 素质 要求 责任意识 具有 一定 自我 约束 能力 爱岗敬业 具有 团队 合作 精神 适应 出差 职位 福利 五险 一金 绩效奖金 定期 体检 周末 双休 餐补 通讯 补助 定期 团建 每年 多次 调薪
三年 以上 同行业 销售 经验 具备 较强 业务 呈现 能力 良好 观察 沟通 应变能力 政府 行业软件 销售 集成 项目 经验 优先
大专 以上学历 电子 相关 专业 熟悉 ACDC DCACLDOMOS 功率 器件 产品 客户端 问题 处理 经验 善于 沟通 团队 经验 以下 领域 工作 经验 优先 从事 产品 经理 电源 产品 研发 销售者 熟悉 电机 马达 驱动 应用 电动工具 电动车 能源开发 应用 新能源 汽车 应用 客户 市场 职位 福利 周末 双休 五险 一金 绩效奖金 每年 多次 调薪 加班
大专 以上学历 计算机相关 专业 具备 两年 以上 软件 项目管理 经验 具备 软件 研发 能力 有运维 项目 工作 经历 优先 需求 管理 计划 管理 风险管理 独到见解 编写 项目 技术 方案 需求 沟通 能力 工作 积极主动 团队 意识 具有 较强 事业心 责任心 抗压 能力 接受 短期 出差 出差 补助 职位 福利 五险 一金 交通 补助 餐补 带薪 节日 福利 定期 体检 周末 双休
本科 以上学历 会计学 财务管理 相关 专业 毕业 左右 财务 工作 经验 掌握 财务会计 成本核算 知识 掌握 各项 工作 流程 统计 报表 有科创 公司 制造业 财务 从业 经验 尤佳 熟悉 掌握 财务 全盘 账务 处理 税务 处理 工作 熟悉 会计 电算化 熟练 运用 财务 核算 软件 excel 表格 工具 熟悉 财务 整体 工作 流程 熟悉 国家 会计 法律法规 相关 会计制度 财税 相关 法规 政策 信息 敏感性 具备 良好 学习 能力 独立 工作 能力 解决问题 能力 财务 分析 能力 风险 控制 意识 具备 财务 工作 辅助 经营 管理 意识 相关 能力 愿意 公司 共同 成长
接受 行业 工作 强度 正常 加班 状态 吃苦耐劳 随时 响应
本科 应届生 电子 电气 计算机 自动化 类似 专业 优先 接受 经常性 出差 抗压 能力 主观 能动性 解决问题 决不罢休 热爱 技术 学习 规划 执行 能力 出色 工作 内容 服务 客户 配合 客户 解决 技术 质量 问题 通过 客户 需求 产品 使用 环境 了解 作为 设计 人员 延伸 主导 产品设计 负责 市场 活动 策划 执行 产品 宣传 负责 合同 签订 发货 跟进 款项 催收 一系列 销售 常规 工作 福利待遇 六险 一金 差旅费 实报实销 提供 员工 单人 宿舍 上下班 步行 10 分钟 每年 运动 补助 员工 家属 免费 体检 带薪休假 职位 福利 五险 一金 绩效奖金 试用期 包住 餐补 节日 福利 定期 体检 通讯 补助
其他 素质 要求 责任意识 具有 一定 自我 约束 能力 爱岗敬业 具有 团队 合作 精神 适应 出差 职位 福利 五险 一金 绩效奖金 定期 体检 周末 双休 餐补 通讯 补助 定期 团建 每年 多次 调薪
三年 以上 同行业 销售 经验 具备 较强 业务 呈现 能力 良好 观察 沟通 应变能力 政府 行业软件 销售 集成 项目 经验 优先
大专 以上学历 电子 相关 专业 熟悉 ACDC DCACLDOMOS 功率 器件 产品 客户端 问题 处理 经验 善于 沟通 团队 经验 以下 领域 工作 经验 优先 从事 产品 经理 电源 产品 研发 销售者 熟悉 电机 马达 驱动 应用 电动工具 电动车 能源开发 应用 新能源 汽车 应用 客户 市场 职位 福利 周末 双休 五险 一金 绩效奖金 每年 多次 调薪 加班
本科 以上学历 会计学 财务管理 相关 专业 毕业 左右 财务 工作 经验 掌握 财务会计 成本核算 知识 掌握 各项 工作 流程 统计 报表 有科创 公司 制造业 财务 从业 经验 尤佳 熟悉 掌握 财务 全盘 账务 处理 税务 处理 工作 熟悉 会计 电算化 熟练 运用 财务 核算 软件 excel 表格 工具 熟悉 财务 整体 工作 流程 熟悉 国家 会计 法律法规 相关 会计制度 财税 相关 法规 政策 信息 敏感性 具备 良好 学习 能力 独立 工作 能力 解决问题 能力 财务 分析 能力 风险 控制 意识 具备 财务 工作 辅助 经营 管理 意识 相关 能力 愿意 公司 共同 成长
接受 行业 工作 强度 正常 加班 状态 吃苦耐劳 随时 响应
本科 应届生 电子 电气 计算机 自动化 类似 专业 优先 接受 经常性 出差 抗压 能力 主观 能动性 解决问题 决不罢休 热爱 技术 学习 规划 执行 能力 出色 工作 内容 服务 客户 配合 客户 解决 技术 质量 问题 通过 客户 需求 产品 使用 环境 了解 作为 设计 人员 延伸 主导 产品设计 负责 市场 活动 策划 执行 产品 宣传 负责 合同 签订 发货 跟进 款项 催收 一系列 销售 常规 工作 福利待遇 六险 一金 差旅费 实报实销 提供 员工 单人 宿舍 上下班 步行 10 分钟 每年 运动 补助 员工 家属 免费 体检 带薪休假 职位 福利 五险 一金 绩效奖金 试用期 包住 餐补 节日 福利 定期 体检 通讯 补助
其他 素质 要求 责任意识 具有 一定 自我 约束 能力 爱岗敬业 具有 团队 合作 精神 适应 出差 职位 福利 五险 一金 绩效奖金 定期 体检 周末 双休 餐补 通讯 补助 定期 团建 每年 多次 调薪
三年 以上 同行业 销售 经验 具备 较强 业务 呈现 能力 良好 观察 沟通 应变能力 政府 行业软件 销售 集成 项目 经验 优先
大专 以上学历 电子 相关 专业 熟悉 ACDC DCACLDOMOS 功率 器件 产品 客户端 问题 处理 经验 善于 沟通 团队 经验 以下 领域 工作 经验 优先 从事 产品 经理 电源 产品 研发 销售者 熟悉 电机 马达 驱动 应用 电动工具 电动车 能源开发 应用 新能源 汽车 应用 客户 市场 职位 福利 周末 双休 五险 一金 绩效奖金 每年 多次 调薪 加班
本科 以上学历 03 左右 工作 经验 理工科 专业 优先 产品 经理 产品 运营 相关 工作 经验 市场 用户 调研 分析 能力 掌握 多种 调研 手段 能够 根据 不同 业务 背景 诉求 选择 不同 方法 进行 调研 能够 针对性 设计 调研 方案 包括 调研 方法 分析 逻辑 项目 落地 成功 拿到 结论 实现 模块 小组 项目组 推进 内容 方案 沉淀 能力 独立 输出 负责 产品 功能模块 产品 宣传材料 客户 赋能 材料 深刻 了解 目标 对象 不同 阶段 问题 诉求 基本 可以 体系化 提炼 内容 建设 方案 具有 针对性 建设 全方位 内容 面向 客户 进行 整体 解决方案 经验 同学 优先 运营 推广 能力 根据 产品 阶段 不同 结合 目标 客户 产品 特质 公司 品牌 主导 推广 活动 策划 运营 策略 确定 推动 协调 相关 工作 执行 落地 达成 预期 目标 具备 一定 操盘 能力 运作 相对 复杂 产品 发布 推广 取得成功 持续 学习 对于 市场 知识 销售 知识 行业 知识 产品 知识 需要 不断 完成 自我 刷新 自驱力 良好 沟通 协作 具备 较强 逻辑 性能 抓住 关键问题 敢于 决策 抗压 迎难而上 面对 不确定性 时能 持续 沉下 心来 做事 积极向上 接受 一定 程度 出差
本科 以上学历 研究生 在读 优先 计算机 电子商务 专业 优先 能够 至少 实习 以上者 优先 熟悉 产品 运作 方式 一定 互联网 产品 工作 了解 熟悉 AxureRP 产品设计 工具 短时间 熟练 使用 学习 能力 具备 良好 表达能力 逻辑 能力 态度 积极主动 责任心 具备 较强 统筹 协调 能力 沟通 能力 能够 协调 产品 工作 任务 执行
本科 以上学历 会计学 财务管理 相关 专业 毕业 左右 财务 工作 经验 掌握 财务会计 成本核算 知识 掌握 各项 工作 流程 统计 报表 有科创 公司 制造业 财务 从业 经验 尤佳 熟悉 掌握 财务 全盘 账务 处理 税务 处理 工作 熟悉 会计 电算化 熟练 运用 财务 核算 软件 excel 表格 工具 熟悉 财务 整体 工作 流程 熟悉 国家 会计 法律法规 相关 会计制度 财税 相关 法规 政策 信息 敏感性 具备 良好 学习 能力 独立 工作 能力 解决问题 能力 财务 分析 能力 风险 控制 意识 具备 财务 工作 辅助 经营 管理 意识 相关 能力 愿意 公司 共同 成长
接受 行业 工作 强度 正常 加班 状态 吃苦耐劳 随时 响应
本科 应届生 电子 电气 计算机 自动化 类似 专业 优先 接受 经常性 出差 抗压 能力 主观 能动性 解决问题 决不罢休 热爱 技术 学习 规划 执行 能力 出色 工作 内容 服务 客户 配合 客户 解决 技术 质量 问题 通过 客户 需求 产品 使用 环境 了解 作为 设计 人员 延伸 主导 产品设计 负责 市场 活动 策划 执行 产品 宣传 负责 合同 签订 发货 跟进 款项 催收 一系列 销售 常规 工作 福利待遇 六险 一金 差旅费 实报实销 提供 员工 单人 宿舍 上下班 步行 10 分钟 每年 运动 补助 员工 家属 免费 体检 带薪休假 职位 福利 五险 一金 绩效奖金 试用期 包住 餐补 节日 福利 定期 体检 通讯 补助
其他 素质 要求 责任意识 具有 一定 自我 约束 能力 爱岗敬业 具有 团队 合作 精神 适应 出差 职位 福利 五险 一金 绩效奖金 定期 体检 周末 双休 餐补 通讯 补助 定期 团建 每年 多次 调薪
三年 以上 同行业 销售 经验 具备 较强 业务 呈现 能力 良好 观察 沟通 应变能力 政府 行业软件 销售 集成 项目 经验 优先
大专 以上学历 电子 相关 专业 熟悉 ACDC DCACLDOMOS 功率 器件 产品 客户端 问题 处理 经验 善于 沟通 团队 经验 以下 领域 工作 经验 优先 从事 产品 经理 电源 产品 研发 销售者 熟悉 电机 马达 驱动 应用 电动工具 电动车 能源开发 应用 新能源 汽车 应用 客户 市场 职位 福利 周末 双休 五险 一金 绩效奖金 每年 多次 调薪 加班
教育学 心理学 相关 领域 本科 以上学历 至少 以上 学习机 教育领域 工作 经验 类似 教育 产品 工作 经历 优先 大型 知名 教育 公司 任职 具备 教研 经验 优先 熟悉 312 儿童 学习 需求 心理特点 具备 良好 软件 交互 知识 产品设计 思维 优秀 沟通 能力 团队 合作 精神
本科 以上学历 会计学 财务管理 相关 专业 毕业 左右 财务 工作 经验 掌握 财务会计 成本核算 知识 掌握 各项 工作 流程 统计 报表 有科创 公司 制造业 财务 从业 经验 尤佳 熟悉 掌握 财务 全盘 账务 处理 税务 处理 工作 熟悉 会计 电算化 熟练 运用 财务 核算 软件 excel 表格 工具 熟悉 财务 整体 工作 流程 熟悉 国家 会计 法律法规 相关 会计制度 财税 相关 法规 政策 信息 敏感性 具备 良好 学习 能力 独立 工作 能力 解决问题 能力 财务 分析 能力 风险 控制 意识 具备 财务 工作 辅助 经营 管理 意识 相关 能力 愿意 公司 共同 成长
接受 行业 工作 强度 正常 加班 状态 吃苦耐劳 随时 响应
本科 应届生 电子 电气 计算机 自动化 类似 专业 优先 接受 经常性 出差 抗压 能力 主观 能动性 解决问题 决不罢休 热爱 技术 学习 规划 执行 能力 出色 工作 内容 服务 客户 配合 客户 解决 技术 质量 问题 通过 客户 需求 产品 使用 环境 了解 作为 设计 人员 延伸 主导 产品设计 负责 市场 活动 策划 执行 产品 宣传 负责 合同 签订 发货 跟进 款项 催收 一系列 销售 常规 工作 福利待遇 六险 一金 差旅费 实报实销 提供 员工 单人 宿舍 上下班 步行 10 分钟 每年 运动 补助 员工 家属 免费 体检 带薪休假 职位 福利 五险 一金 绩效奖金 试用期 包住 餐补 节日 福利 定期 体检 通讯 补助
其他 素质 要求 责任意识 具有 一定 自我 约束 能力 爱岗敬业 具有 团队 合作 精神 适应 出差 职位 福利 五险 一金 绩效奖金 定期 体检 周末 双休 餐补 通讯 补助 定期 团建 每年 多次 调薪
三年 以上 同行业 销售 经验 具备 较强 业务 呈现 能力 良好 观察 沟通 应变能力 政府 行业软件 销售 集成 项目 经验 优先
大专 以上学历 电子 相关 专业 熟悉 ACDC DCACLDOMOS 功率 器件 产品 客户端 问题 处理 经验 善于 沟通 团队 经验 以下 领域 工作 经验 优先 从事 产品 经理 电源 产品 研发 销售者 熟悉 电机 马达 驱动 应用 电动工具 电动车 能源开发 应用 新能源 汽车 应用 客户 市场 职位 福利 周末 双休 五险 一金 绩效奖金 每年 多次 调薪 加班
硕士 研究生 以上学历 计算机 电子 工程 管理学 心理学 相关 专业 优先 具有 13 互联网 教育 产品 数字 出版 产品 产品 经理 工作 经验 服务 国内 数字 出版 行业 大学 出版社 数字 出版部门 经验 执行 能力 工作 主动性 沟通 能力 责任心 具有 较强 学习 能力 熟练 使用 Office 办公 软件 思维 导图 原型 设计图 软件 年龄 35 以下 身体健康 工作 地点 北京
至少 产品 经理 经验 内容 创作 工具 视频 配音 编辑 相关 经验 优先 具备 面向 端的 AI 产品开发 经验 熟悉 AIGC 技术 及其 内容 创作 领域 应用 出色 项目管理 团队 领导 能力 能够 快节奏 环境 推动 项目 前进 强烈 用户 导向 思维 能够 理解 预测 用户 需求 优秀 沟通 协调 能力 能够 跨部门 团队 有效 工作 具备 数据分析 技能 能够 利用 数据 驱动 产品 决策
